<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body >
    <main th:object="${item}" class="detail">
        <div>
            <div class="card">
                <div class="card-body">
					<div class=" d-flex align-items-center justify-content-center" style="height: 100%; width: 100%;">
						<img alt="Product" th:src="@{|/assets/images/*{image}|}" style="max-height: 90%; max-width: 90%;">
					</div>
				</div>
                <div class="card-body d-flex justify-space-between">
                    <div class="info" style="font-size: 20px; flex: 1;">
                        <div th:text="*{name}" style="font-weight: 500; font-size: 28px; color: navy;"></div>
                        <div th:text="*{'Giá: $' + price}" style="font-size: 24px; font-weight: 500; color: red;"></div>
                        <div th:text="*{'Ngày tạo: ' + createDate}" style="margin-top: 10px"></div>
                        <div th:text="*{'Loại: ' + getDanhMuc.name}"></div>
                    </div>
                    <div class="p-2 bd-highlight d-flex align-items-end">
	                    <button th:attr="ng-click=@{|cart.add(*{id})|}" class="btn btn-success" style="width: 150px">
	                        <i class="fa-solid fa-cart-arrow-down" style="font-size: 20px"></i>
	                    </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card mt-4 samekind">
            	<h4 class="card-header">Hàng cùng loại</h4>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li th:each="p:*{getDanhMuc.products}" class="list-group-item">
							<a th:href="@{|/product/detail/${p.id}|}" th:text="${p.name}"></a>
						</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>